/*This section is for the home page*/

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #4E6E5D;
}

.logo img {
    width: 100%;
}

.header-contact {
    font-family: Amatic SC, cursive, serif;
    font-size: 5vw;
    color: white;
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
}

.header-contact a {
    color: white;
}

.social-media {
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    
}

.social-media img{
    margin-top: 6rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
    width: 70%;
}

header nav {
    grid-column: 1/4;
    width: 100%;
}

nav ul li a.active {
    background-color: #BBC5AA;
    color: black;
}

header li a {
    display: block;
    grid-column: 1/4;
    color: white;
    font-family: Amatic SC, cursive, serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

header li a:hover{
    background-color:#BBC5AA;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

ul.home-nav {
    list-style: none;
    padding-left: 0;
    display: none;
}

ul.home-nav.open {
    display: block;
    grid-column: 1/4;
}

/*Hamburguer button properties*/
#hamburger {
    width: 100%;
    border: none;
    background-color: #456152;
    color: white;
    font-size: 2rem;
}

#hamburger span:nth-child(1) {
    display: block;
}
#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}
#hamburger.open span:nth-child(1) {
    display: none;
}

body {
    background-color: #BBC5AA;
}

.homepage picture {
    display: block;
}

.homepage picture img {
    display: block;
    width: 90%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
    margin: 2rem auto;
}

.special-box {
    background-color: #6C464F;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
}

.special-box p {
    text-align: center;
    color: white;
    font-family: Indie Flower, cursive;
    font-size: 2.5rem;
    
}

.order-button {
    background-color: #6C464F;
    margin: 2rem 2rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
}

.order-button a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Indie Flower, cursive;
    font-size: 2.5rem;
    padding: 2rem .5rem;
}

.order-button a:hover {
    background-color: #456152;
    color: white;
    border-radius: 5px;

}

.dsc-1 {
    font-family: Indie Flower, cursive;
    font-size: 1.2rem;
    color: black;
    text-align: justify;
    padding: 2rem 2rem;
}

.weather {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    background-color: #456152;
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 2rem auto;
    border-radius: 5px;
}

.weather h3 {
    grid-column: 1/5;
    margin: 10px auto;
    font-family: Amatic SC, cursive;
    font-size: 2rem;

}

.weather figure {
    width: 100%;
    margin: 1rem 1.5rem;
}

.weather img {
    width: 100%;
}

p.temperature {
    font-family: Amatic SC, cursive;
    grid-column: 3/5;
    font-size: 3rem;
    font-weight: 800;
}

.weather-summary {
    font-family: Amatic SC, cursive;
    grid-column: 2/5;
    font-size: 1.5rem;
    font-weight: 700;
    margin:0 auto;

}

.humidity {
    font-family: Amatic SC, cursive;
    font-size: 2rem;
    grid-column: 1/5;
    margin:0 auto;
    padding-bottom: 10px;
}

/*This section is for the Fresh Page*/

form {
    margin: 2rem .5rem;
}

form fieldset {
    margin: 2rem 1rem ;
    border: 4px solid #748386;
    border-radius: 10px;
    padding: .5rem 2rem;

}

form legend {
    color: #f6f7eb;
    margin: 0 1rem;
    padding: .3rem .5rem;
    font-weight: 800;
    background-color: #8C2F39;
}

form label.top , form div {
    display: block;
    padding: 1rem .5rem;
    font-weight: 400;

}

form label.top input {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    border: solid 3px #1F271B;
    padding: .8rem;
    width: 95%;
    max-width: 30rem;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.notice {
    color: rgb(255, 0, 0);
    font-weight: 300;
}

form label.memberships {
    display: block;
    padding: 1rem;
    font-weight: 900;
    
}

.description {
    padding: .5rem .5rem;
}

textarea {
    width: 60%;
    height: 10rem;
    min-width: 300px;
    max-width: 70%;
    min-height: 100px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 10px;

}


textarea ::placeholder {
    padding: 1rem 1rem;
}

form input.submitBtn {
    border: none;
    background-color: #8C2F39;
    color: #f6f7eb;
    border-radius: 1rem;
    padding: .8rem 1.5rem;
    margin: 1rem 1rem;
    width: 95%;
    max-width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

form input.submitBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

form label.top input:required {
    border-left: red solid 5px;
}

form label.top input:required:valid {
    border-left: green solid 5px ;
}

/*This is for the thank you page*/

.tk-header {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.foot-1-thank img{
    width: 30%;
    max-width: 300px;
}

.thanks-msg p {
    font-size: 2rem;
    padding: 2rem 2rem;
    text-align: justify;
}

.membership-description {
    display: none;
}

/*This section is for the Directory page*/

.directory .cards h4 {
    font-size:1.5rem;
    margin: .5rem 1rem;
    color: #f6f7eb;
}

.directory .cards h3 {
    font-size:1.5rem;
    margin: .5rem 1rem;
    color: #f6f7eb;
}

.directory .cards h2 {
    font-size:1.5rem;
    margin: .5rem 1rem;
    color: #f6f7eb;

}

.directory .cards a {
    font-size:1.2rem;
    margin: .5rem 1rem;
    text-decoration:none;
    color: black;
}



.grid-type {
    display: grid;
    grid-template-columns:1fr;
}

.grid-type div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    width: 80%;
    padding: 1rem 1rem;
    background-color: #748386;
}

.grid-type img {
    display:block;
    width: 50%;
    margin:.5rem auto;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    opacity: .8;
}

.list-type div {
    margin: 1rem 1rem;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    width: 85%;
    padding: 1rem 1rem;
    background-color: #748386;
}

.list-type img {
    display: none;
}

.buttons {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons button {
    background-color: #8C2F39;
    color: #f6f7eb;
    font-size: 2rem;
    font-weight: 800;
    border: none;
    width: 90%;
    padding: .5rem 0;
    margin: 1rem auto;
    max-width: 300px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

/*This section is for the contact page*/

.contact {
    display: flex;
    flex-direction: column;
}

.contact-card {
    margin: 2rem 1rem ;
    border: 4px solid #748386;
    border-radius: 10px;
    padding: .5rem 2rem;
    order: -1;
}

.contact-card picture {
    display: none;
}

.my-inquiry {
    padding: .5rem .5rem;
}

form a {
    color: #1F271B;
    padding-left: 2rem;
}
