/*This section is for the home page*/

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #4E6E5D;
}

.logo img {
    width: 100%;
}

.header-contact {
    font-family: Amatic SC, cursive, serif;
    font-size: 5vw;
    color: white;
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
}

.header-contact a {
    color: white;
}

.social-media {
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    
}

.social-media img{
    margin-top: 6rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
    width: 70%;
    max-width: 40px;
}

header nav {
    grid-column: 1/4;
    width: 100%;
}

nav ul li a.active {
    background-color: #BBC5AA;
    color: black;
}

header li a {
    display: block;
    grid-column: 1/4;
    color: white;
    font-family: Amatic SC, cursive, serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

header li a:hover{
    background-color:#BBC5AA;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

ul.home-nav {
    list-style: none;
    padding-left: 0;
    display: none;
}

ul.home-nav.open {
    display: block;
    grid-column: 1/4;
}

/*Hamburguer button properties*/
#hamburger {
    width: 100%;
    border: none;
    background-color: #456152;
    color: white;
    font-size: 2rem;
}

#hamburger span:nth-child(1) {
    display: block;
}
#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}
#hamburger.open span:nth-child(1) {
    display: none;
}

body {
    background-color: #BBC5AA;
}

.homepage picture {
    display: block;
}

.homepage picture img {
    display: block;
    width: 90%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
    margin: 2rem auto;
}

.special-box {
    background-color: #6C464F;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
}

.special-box p {
    text-align: center;
    color: white;
    font-family: Indie Flower, cursive;
    font-size: 2.5rem;
    
}

.order-button {
    background-color: #6C464F;
    margin: 2rem 2rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
}

.order-button a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Indie Flower, cursive;
    font-size: 2.5rem;
    padding: 2rem .5rem;
}

.order-button a:hover {
    background-color: #456152;
    color: white;
    border-radius: 5px;

}

p.dsc-1{
    font-family: Indie Flower, cursive;
    font-size: 2rem;
    color: black;
    text-align: justify;
    padding: 2rem 2rem;
}

.dsc-2 {
    display: none;
}

picture.ca-2 {
    display: none;
}

.weather {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    background-color: #456152;
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 2rem auto;
    border-radius: 5px;
}

.today-forecast {
    grid-column: 1/5;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
}

.weather h3 {
    grid-column: 1/5;
    margin: 10px auto;
    font-family: Amatic SC, cursive;
    font-size: 2rem;

}

.weather figure {
    width: 100%;
    margin: 1rem 1.5rem;
}

.weather img {
    width: 100%;
}

p.temperature {
    font-family: Amatic SC, cursive;
    grid-column: 3/5;
    font-size: 3rem;
    font-weight: 800;
}

p.weather-summary {
    font-family: Amatic SC, cursive;
    grid-column: 1/5;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin:0 auto;

}


.humidity {
    font-family: Amatic SC, cursive;
    font-size: 2rem;
    grid-column: 1/5;
    margin:0 auto;
    padding-bottom: 10px;
}

.threeday-forecast {
    display: none;
}

picture.ca-3 {
    display: none;
}

footer {
    background-color: #456152;
    color: white;
    text-align: center;
    font-family: Indie Flower, cursive;
    font-size: 1.2rem;
}

footer p {
    margin: 0 0;
    padding: 1rem 1rem;
}

/*This section is for the Fresh Page*/

.fresh-title {
    font-family:Amatic SC, cursive;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 5rem;
    padding: 2rem 1rem;
    background-color: #6C464F;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
}

form {
    margin: 2rem .5rem;
}

form fieldset {
    margin: 2rem 1rem ;
    border: 4px dashed #456152;
    border-radius: 5px;

}

form legend {
    color:white;
    margin: 0 1rem;
    padding: .3rem .5rem;
    font-weight: 800;
    background-color: #6C464F;
    font-family:Amatic SC, cursive;
    font-size: 1.5rem;
}

form label.contact , form label.pick {
    display: block;
    padding: .5rem .5rem;
    font-weight: 400;
    font-family: Indie Flower, cursive;
    font-size: 1.2rem;

}

form label.contact input {
    display: block;
    font-size: 1rem;
    border-radius: 5px;
    border: solid 3px black;
    padding: .5rem;
    width: 70%;
    max-width: 25rem;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

form label.pick select {
    display: inline;
    padding: .1rem;
    margin: .1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    
}

textarea {
    width: 60%;
    height: 10rem;
    min-width: 300px;
    max-width: 70%;
    min-height: 100px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 5px;

}


textarea::placeholder {
    padding: 1rem 1rem;
    font-weight: 400;
    font-family: Indie Flower, cursive;
    font-size: 1.2rem;
}


button.order-button {
    display: block;
    border: none;
    background-color: #456152;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    width: 80%;
    max-width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    font-family: Amatic SC, cursive;
    font-size: 2rem;
}


form label.contact input:required {
    border-left: red solid 5px;
}

form label.contact input:required:valid {
    border-left: green solid 5px ;
}

.order-details {
    display: block;
    padding: .5rem .5rem;
    font-weight: 400;
    font-family: Indie Flower, cursive;
    font-size: 1.2rem;
    margin: 1rem auto;
    background-color: #456152;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

}

.punch-picture {
    display: none;
}

.fresh div.special-box {
    display: none;
}

/*This section is for the About Us page page*/

.about-us h2 {
    font-family:Amatic SC, cursive;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 5rem;
    padding: 2rem 1rem;
    background-color: #6C464F;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
}

.about-us p {
    font-family: Indie Flower, cursive;
    font-size: 1.2rem;
    background-color: #456152;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
    text-align: justify;
    margin: 2rem 2rem;
    padding: 2rem 2rem;
}

.about-us picture {
    display: block;
}

.about-us picture img {
    display: block;
    width: 90%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
    margin: 2rem auto;
}

.contact-card {
    margin: 2rem 1rem ;
    border: 4px solid #748386;
    border-radius: 5px;
    padding: .5rem 2rem;
    background-color: #456152;
}

.contact-card p {
    background-color: #BBC5AA;
    color: black;
    font-size: 1.2rem;
}

.contact-card a {
    color: black;

}

.map {
    display: block;
    width: 80%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) ;
    border-radius: 5px;
    margin: 2rem auto;
}

iframe {
    width: 100%;
}
