@media screen and (min-width: 64em) {

header {
    grid-template-columns: repeat(4, 1fr);
}

.logo img {
    max-width: 50%;
}

.header-contact {
    grid-column: 2/4;
    grid-row: 1/2;
}

.social-media {
    grid-column: 4/5;
}

.social-media img {
    margin-top: 1rem;
}

header nav {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 5rem;
}

ul.home-nav li {
    margin: .5rem 1rem;
}

#hamburger {
    display: none;
}

nav ul.home-nav {
    display: block;
}

.weather {
    grid-column: 1/4;
}
picture.ca-3 {
    display: block;
    grid-column: 4/5;
}

/*This is for the Fresh page */

.fresh {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fresh-title {
    grid-column: 1/5;
}

.fresh form {
    grid-column: 1/3;
}

.fresh button.order-button {
    grid-column: 1/5;
}

.fruit-punch {
    grid-column: 3/5;
    grid-row: 2/3;
}

.punch-picture {
    display: block;
}

.punch-picture img {
    display: block;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 2rem auto;
    border-radius: 5px;
}

.order-details {
    grid-column: 3/5;
    grid-row: 2/3;
    margin-top: 20rem;
    margin-bottom: 10rem;
}


/*This is for the About Us Page */

.map {
    grid-column: 1/4;
    grid-row: 4/5;
    height: fit-content;
}

.contact-card {
    grid-column: 4/6;
}

}