@media screen and (min-width: 40em) {

    .logo img {
        max-width: 40%;
    }

    .social-media img:hover{
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.6);
        opacity: .6;
    }

    .social-media img{
        max-width: 60%;
    }

    .header-contact {
        font-size: 1.5rem;
        color: white;

    }

    #hamburger:hover {
        background-color: #BBC5AA;
        color: black;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    

    
}