@media screen and (min-width: 32.5em) {

    header ul {
        display: flex;
    }
    header li {
        flex:1;
    }

    img {
        max-width: 50%;
    }

/*This is for the target-audience page*/

    p {
        text-align: justify;
        margin: 1rem 1rem;
    }

    #Carlos img, #Margarita img {
        max-width: 40%;
    }
}