/*This section is for the home page*/
header {
    background-color: #8C2F39 ;
    color: #f6f7eb;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    width: 100%;
}

header h1 {
    width: 90%;
    padding-top: 1.5rem;
    font-size: 4rem;
    margin: 0 auto;
}

header h2 {
    padding-bottom: 1.5rem;
    font-size: 3rem;
}

header ul {
    list-style: none;
    padding-left: 0;
}

header a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #f6f7eb;
    padding: .5rem;
}

header a:hover{
    background-color: #f6f7eb;
    color: #8C2F39;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: #f6f7eb;
    color:#1F271B ;
}

main {
    display: block;
    text-align: center;
}

main h2{
    font-size: 3rem;
}

main h3 {
    font-size: 2rem;
}

main p {
    font-size: 2rem ;
    padding: 1rem 1rem;
    margin-bottom: 4rem;
}

img {
    width: 100%;
}
footer {
    background-color: #8C2F39 ;
    color: #f6f7eb;
    font-family: 'Questrial', sans-serif;
}

footer p {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0;
}

/*This is for the target-audience page*/

#Carlos ul, #Margarita ul {
    list-style: none;
    padding: 0;
}

#Carlos, #Margarita {
    display: flex;
    flex-direction: column;
    background-color: #8C2F39;
    border-radius: 1rem;
    margin: 2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#Carlos img {
justify-content: center;
}