/*This section is for the home page*/
.banner {
    display: grid;
    grid-template-columns: 1fr 30px;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 10px;

}
.banner p {
    background-color: #f6f7eb;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
}

.close {
    border: none;
}

.no-tuesday {
    display: none;
}

header {
    background-color: #8C2F39 ;
    color: #f6f7eb;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.header-titles {
    flex: 1;
    padding: 1rem .5rem;
}

header h1 {
    padding-top: 2rem;
    font-size: 3em;
    margin: 0 auto;
}

header h2 {
    font-size: 1.5em;
    margin: 0 auto;
}

.social-media {
    margin-bottom: 10px ;
}

.social-media img {
    flex: 2;
    width: 2rem;
    margin: .5rem .5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#today {
    font-size: 1.5rem;
}

#header-logo img {
    flex: 3;
    float:left;
    width: 40%;
}

#hamburger {
    color: #f6f7eb;
    background-color: #8C2F39;
    border: none;
    font-size: 2rem;
    width: 100%;
}

#hamburger:hover {
    background-color: #f6f7eb;
    color: #8C2F39;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.break {
    display: none;
}

.break-2 {
    flex-basis: 100%;
    height: 0;
}

header nav {
    width: 100%;
}

nav ul li a.active {
    background-color: #f6f7eb;
    color: #8C2F39;
}

header li a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #f6f7eb;
    padding: .5rem;
    text-align: center;
}

header li a:hover{
    background-color: #f6f7eb;
    color: #8C2F39;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

nav ul {
    list-style: none;
    padding-left: 0;
    display: none;
}

nav ul.open {
    display: block;
}

#hamburger span:nth-child(1) {
    display: block;
}
#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}
#hamburger.open span:nth-child(1) {
    display: none;
}


h2, h3, h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: #f6f7eb;
    color:#1F271B ;
}

.home-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.home-page section {
    border-radius: 10px;
    border: 5px solid #1F271B;
    margin: 10px 10px;
}

#Hero {
    position: relative;
    order: -5;
    border: none;
    border-radius: 10px;
}

#Hero picture {
    display: block;
    height: 100%;
    opacity: 0.65;
    border-radius: 10px;

}

#Hero picture img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

}


#Hero div {
    position: absolute;
    bottom: 1rem;
	left: 2rem;
    background-color:#748386;
    width: 10rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: .5rem .5rem;

}

#Hero div a {
    display: block;
    text-decoration: none;
    color: #f6f7eb;
    font-size: 1.5rem;
}

#Hero div a:hover {

    color: #748386;
    background-color:#f6f7eb ;
    font-weight: 600;
}

#Hero div:hover {
    background-color:#f6f7eb ;
}

#News {
    background-color: #8C2F39;
    color: #f6f7eb;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#News h3 {
    text-align: center;
    margin: 10px auto;
    font-size: 2rem;
}

#News p {
    margin: 0 auto;
    text-align: justify;
    padding: .5rem .5rem;
}
#Spotlights {
    background-color: #748386;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#Spotlights article {
    border-radius: 10px;
    margin: 10px 10px;
    padding: 1rem 1rem;
}


.togas {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: .9;
    border-radius: 10px;

}

.thunderjab {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: .9;
    border-radius: 10px;
}

.spot-3 {
    display: none;
}

#Join {
    display: none;   
}


#Event {
    order: -4;
    background-color: #748386;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#Event img {
    display: block;
    margin: 10px auto;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

#Event h3 {
    text-align: center;
    text-shadow: 0 0 3px #f6f7eb, 0 0 5px #8C2F39;
    font-size: 2rem;
    margin: 10px auto;
}

#Event p {
    color: #f6f7eb;
    text-align: justify;
    padding: .5rem  .5rem;

}

#Weather {
    order: -3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #8C2F39;
    color: #f6f7eb;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

}

#Weather h3 {
    grid-column: 1/5;
    margin: 10px auto;
    font-size: 2rem;

}

#cloud-emoji {
    grid-column: 1/3;
    font-size: 5rem;
    margin: 0 auto;
}

.temperature {
    grid-column: 3/5;
    font-size: 3rem;
    font-weight: 800;
}

.weather-summary {
    grid-column: 2/5;
    font-size: 1.5rem;
    font-weight: 700;
    margin:0 auto;

}

#Weather hr {
    grid-column: 1/5;
    width: 90%;
}

.wind-speed {
    grid-column: 1/5;
    margin:0 auto;
}

.wind-chill {
    grid-column: 1/5;
    margin:0 auto;
    padding-bottom: 10px;
}

footer img {
    width:40% ;
}

footer {
    background-color: #8C2F39 ;
    color: #f6f7eb;
    font-family: 'Questrial', sans-serif;
}

.foot-2 {
    padding-bottom: 10px;
}

footer p {
    text-align: center;
    margin-bottom: 0;

}

.map-pin {
    padding-top: 10px;
    text-decoration: none;
    color: #f6f7eb;
}


footer a {
    text-align: center;
    display: block;
    
}

/*This section is for the discover page*/

.discover h3 {
    text-align: center;
    font-size: 2rem;
}

.discover h2 {
    text-align: center;
    font-size: 3rem;
}

.discover p {
    text-align: center;
    font-size: 1.5rem;
}

.discover picture {
    display: block;
}

.demographics-3 picture img {
    display: block;
    max-width: 80%;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    opacity: .8;
}

.discover-pictures {
    display: grid;
    grid-template-columns: 1fr;
}

.discover-pictures picture {
    display: block;
    width: 80%;
    margin: 0 auto;

}
 .discover-pictures picture img {
    display: block;
    width: 100%;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

 }

.picture-name {
    text-align: center;
    font-size: 2rem;
    background-color: #748386;
    color: #f6f7eb;
}

.picture-description {
    padding: 1rem 3rem;
}

.final-line {
    background-color: #748386;
    height: 2rem;
    margin-bottom: 3rem;
}

.final-line span {
    color: #f6f7eb;
    display: block;
    text-align: center;
    padding: .5rem 1rem;
}

/*This is for the Join page form */

form {
    margin: 2rem .5rem;
}

form fieldset {
    margin: 2rem 1rem ;
    border: 4px solid #748386;
    border-radius: 10px;
    padding: .5rem 2rem;

}

form legend {
    color: #f6f7eb;
    margin: 0 1rem;
    padding: .3rem .5rem;
    font-weight: 800;
    background-color: #8C2F39;
}

form label.top , form div {
    display: block;
    padding: 1rem .5rem;
    font-weight: 400;

}

form label.top input {
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    border: solid 3px #1F271B;
    padding: .8rem;
    width: 95%;
    max-width: 30rem;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.notice {
    color: rgb(255, 0, 0);
    font-weight: 300;
}

form label.memberships {
    display: block;
    padding: 1rem;
    font-weight: 900;
    
}

textarea {
    width: 60%;
    height: 10rem;
    min-width: 300px;
    max-width: 70%;
    min-height: 100px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 10px;

}


textarea ::placeholder {
    padding: 1rem 1rem;
}

form input.submitBtn {
    border: none;
    background-color: #8C2F39;
    color: #f6f7eb;
    border-radius: 1rem;
    padding: .8rem 1.5rem;
    margin: 1rem 1rem;
    width: 95%;
    max-width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

form input.submitBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

form label.top input:required {
    border-left: red solid 5px;
}

form label.top input:required:valid {
    border-left: green solid 5px ;
}

/*This is for the thank you page*/

.tk-header {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.foot-1-thank img{
    width: 30%;
    max-width: 300px;
}

.thanks-msg p {
    font-size: 2rem;
    padding: 2rem 2rem;
    text-align: justify;
}

.membership-description {
    display: none;
}

/*This section is for the Directory page*/

.directory .cards h4 {
    font-size:1.5rem;
    margin: .5rem 0;
}

.directory .cards h3 {
    font-size:1.5rem;
    margin: .5rem 0;
}

.directory .cards h2 {
    font-size:1.5rem;
    margin: .5rem 0;
}

.directory .cards a {
    font-size:1.2rem;
    margin: .5rem 0;
    text-decoration:none;
    color: black;
}

.directory .cards {
    display: grid;
    grid-template-columns:1fr;
}

.grid-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
    border: 3px solid black;
    width: 60%;
    padding: 1rem 1rem;
}

.grid-display img {
    display:block;
    width: 50%;
    margin:.5rem auto;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}