@media screen and (min-width: 32.5em) {

    .header-titles {
        font-size: larger;
        width: 100%;
    }


    .social-media {
        align-self: center;
    }

    .break-1 {
        flex-basis: 100%;
        height: 0;
    }

    #today {
        padding-bottom: 15px;
        align-self: center;
    }

    main {
        flex-wrap: wrap;
    }

    #Hero {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #News {
        order: -4;
    }
    
    #Spotlights {
        height: fit-content;
        display: flex;
        order: -3;
    }

    .spot-1 {
        flex: 1;
    }

    .spot-2{
        flex: 1;
    }
    
    #Join {
        order: -2;   
    }
    
    #Event {
        order: -1;
        width: 50%;
    }
    
    #Weather {
        order: 0;
        width: 30%;
        
    }

    footer img {
        width: 30%;
    }

    #header-logo img {
        width: 40%;
    }
}