
header {
    background-color: #933b35 ;
    color: #F7F9F9;
    font-family:'Bebas Neue','Times New Roman', 'serif';
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 700px;
    margin: auto;


}

header img {
    max-width: 200px;
    grid-column: 1/2;
    padding: 20px 20px;
    border-radius: 40px;
}

header h1 {
    grid-column: 2/4;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 3rem;
}

body {
    font-family:'Ubuntu Condensed','Verdana', 'sans-serif';
    color:#F7F9F9;
    background-color: #343F3E;
    text-align: center;
}


body a {
color: #F7F9F9;
}

footer {
    background-color: #933b35 ;
    color: #F7F9F9;
    font-family:'Bebas Neue','Times New Roman', 'serif';
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 700px;
    margin: auto;
    
}

footer p {
    padding-top: 10px;
    text-align: center;
}
